<h3><a href="/community/">Community</a></h3>
<ul>
  <li><a href="irc://irc.mozilla.org/processing.js">Dev. Community on IRC</a></li>
  <li><a href="http://processing-js.lighthouseapp.com/">Lighthouse Bug Tracking</a></li>
  <li><a href="http://github.com/processing-js/processing-js/">Processing.js GitHub Repo</a></li>
  <li><a href="http://zenit.senecac.on.ca/wiki/index.php/">Open Source @ Seneca</a></li>
  <li><a href="http://twitter.com/processingjs">Processing.js on Twitter</a></li>
  <li><a href="http://groups.google.com/group/processingjs">Processing.js Google Group</a></li>
</ul>
