<div class="home-exhibition">
  <span>
    <a href="http://apps.facebook.com/viriongame/"><img src="/images/exhibition/virion.png" width="180" height="75" /></a>
    <a href="http://apps.facebook.com/viriongame/">Virion</a>
    <p>by Jonah Kagan, Varun Singh, Jonathan Koh, Charis Loke</p>
  </span>
  <span>
    <a href="http://fizz.bloom.io"><img src="/images/exhibition/fizz-processingjs.png" width="180" height="75" /></a>
    <a href="http://fizz.bloom.io">Fizz</a>
    <p>by <a href="http://bloom.io">Bloom</a></p>
  </span>
  <span>
    <a href="http://www.m-i-b.com.ar/letters/en/"><img src="/images/exhibition/letters.jpg" width="180" height="75" /></a>
    <a href="http://www.m-i-b.com.ar/letters/en/">Letter-pairs Analysis</a>
    <p>by Martin Ignacio Bereciartua</p>
  </span>
</div>
